@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Rubik+Puddles&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
}
body{
  font-family: 'Hanalei Fill', cursive;
  background: linear-gradient(180deg, rgba(9, 35, 175, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
}
button{
  background: #1646a0;
  color: #ecfa00;
  padding: 0 45px;
  border: 2px solid white;
  border-radius: 25px;
  height: 50px;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
  transition: .35s;
  font-family: 'Rubik Puddles', cursive;
}
button:hover{
  background-color: #0923af;
}